/node_modules/
/lib/
/directives/
/polyfills/

/tools/node_modules/
/tools/lib/

# Compiler output
/lit-html.d.ts
/lit-html.d.ts.map
/lit-html.js
/lit-html.js.map
/test/**/*.d.ts
/test/**/*.d.ts.map
/test/**/*.js
/test/**/*.js.map

/lit-html.bundled.js

yarn.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Docs
.DS_Store
/docs/_site/
/docs/_api/tmp/
/docs/node_modules/
*.pyc
