/node_modules/
/lib/

# Compiler output
/lit-html.d.ts
/lit-html.js
/lit-html.js.map
/test/**/*.d.ts
/test/**/*.js
/test/**/*.js.map

yarn.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# bower_components for testing
bower_components
