node_modules/
lib/
test/

# generated test source
/test/**/*.js
/test/**/*.js.map
/test/**/*.d.ts
/test/**/*.d.ts.map

# top level source
my-element.js
my-element.js.map
my-element.d.ts
my-element.d.ts.map
