package.json
package-lock.json
/packages/localize/testdata
/packages/localize/examples
/packages/localize/config.schema.json

# Auto-inserted contents of .gitignore. See make-ignore-files.js
# GITIGNORE START
# global
/node_modules/
/lerna-debug.log
.DS_Store
tsconfig.tsbuildinfo

# shared in packages
/packages/*/node_modules/
/packages/*/development/
/packages/*/test/
/packages/*/*.tgz

# benchmarks package
/packages/benchmarks/**/*.d.ts
/packages/benchmarks/**/*.d.ts.map
/packages/benchmarks/**/*.js
/packages/benchmarks/**/*.js.map
/packages/benchmarks/generator/build/
/packages/benchmarks/generator/generated/
/packages/benchmarks/generated/
!/packages/benchmarks/generator/types/deoptigate.d.ts
!/packages/benchmarks/lit-html/template-heavy/template-heavy.js

# lit-element package
/packages/lit-element/decorators/
/packages/lit-element/demo/**/*.d.ts
/packages/lit-element/demo/**/*.d.ts.map
/packages/lit-element/demo/**/*.js
/packages/lit-element/demo/**/*.js.map
/packages/lit-element/decorators.*
/packages/lit-element/lit-element.*
/packages/lit-element/lit.min.*
/packages/lit-element/platform-support.*
/packages/lit-element/hydrate-support.*

# lit-html package
/packages/lit-html/directives/
/packages/lit-html/lit-html.*
/packages/lit-html/parts.*
/packages/lit-html/hydrate.*
/packages/lit-html/private-ssr-support.*
/packages/lit-html/platform-support.*

# updating-element package
/packages/updating-element/decorators/
/packages/updating-element/css-tag.*
/packages/updating-element/decorators.*
/packages/updating-element/platform-support.*
/packages/updating-element/updating-element.*

# labs package
/packages/labs/index.*

# lit-ssr package
/packages/lit-ssr/lib/
/packages/lit-ssr/demo/
/packages/lit-ssr/test/**/*.js
/packages/lit-ssr/test/**/*.js.map
/packages/lit-ssr/test/**/*.d.ts
/packages/lit-ssr/test/**/*.d.ts.map
/packages/lit-ssr/index.js
/packages/lit-ssr/index.js.map
/packages/lit-ssr/index.d.ts
/packages/lit-ssr/index.d.ts.map

# localize package
/packages/localize/lib/
/packages/localize/lib_client/
/packages/localize/testdata/*/output/
/packages/localize/**/*.js
/packages/localize/**/*.d.ts
/packages/localize/**/*.d.ts.map
/packages/localize/**/*.map
/packages/localize/*.tgz
/packages/localize/.tsbuildinfo
/packages/localize/.tsbuildinfo.client
!/packages/localize/ava.config.js
# GITIGNORE END
