body,
html {
  margin: 0;
  height: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

:root :where(.dark) {
  --theme-surface-color: #212121;
  --theme-on-surface-color: #e3e3e3;
  --theme-disabled-color: rgba(227, 227, 227, 0.12);
  --theme-on-disabled-color: rgba(227, 227, 227, 0.38);
  --theme-primary-color: rgb(168, 199, 250);
  --theme-on-primary-color: rgb(31, 31, 31);
  --theme-outline-color: #8e918f;
  background-color: var(--theme-surface-color);
  color: var(--theme-on-surface-color);
  --logo-color: var(--theme-on-surface-color);
}