/* Tagname styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Google Sans', 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
  line-height: 1.5;
}

a {
  color: #002399;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Top nav */
.main-nav {
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: #002399;
  background: linear-gradient(225deg, #002399 0%, #e2e425 100%);
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  display: flex;
  padding-left: 60px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  color: #fff;
  z-index: 1000;
}

.main-nav a {
  color: inherit;
}

.main-nav .logo {
  font-size: 18px;
}

.main-nav .flex {
  flex: 1;
}

.main-nav .nav-item {
  font-size: 14px;
  padding: 0 12px;
}

.main-nav .icon-github {
  margin-right: 20px;
  margin-left: 12px;
  width: 24px;
  height: 24px;
  background-size: cover;
}

/* Content area */
main {
  margin-top: 60px;
  display: flex;
  align-items: flex-start;
}

footer .wrapper,
main {
  max-width: 1280px;
}

/* Main/left nav */
.toc {
  /* position: sticky works in Chrome, Firefox, Safari and Edge;
  fallback to position: static for which the nav will just be part
  of the scrolling content. */
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  padding: 40px 0;
  width: 240px;
  font-size: 14px;
  font-weight: 500;
}

.toc > #toggleNavButton {
  display: none;
}

.toc > ul {
  margin: 0;
  padding: 0;
}

.toc > ul ul {
  padding-left: 24px;
}

.toc li {
  list-style-type: none;
  margin: 10px 0;
}

.toc svg {
  width: 24px;
  height: 24px;
  fill: currentcolor;
  vertical-align: middle;
}

.toc span {
  display: inline-block;
  vertical-align: sub;
  padding: 0 10px;
}

/* Article area */
article {
  flex: 1;
  margin: 40px;
  /* Set min-width so article width will shrink
  (and code snippets will horizontally scroll). */
  min-width: 1px;
}

.prevnext {
  display: flex;
  justify-content: space-between;
}

.next {
  text-align: right;
  order: 2
}

.prev {
  order: 1
}

/* Footer */
footer {
  border-top: 1px solid #d9d9d9;
}

footer .wrapper {
  margin-top: 24px;
  /* No spacing between child elements. */
  font-size: 0px;
}

footer .group {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  font-size: 14px;
  line-height: 24px;
  margin: 0 40px 24px 0;
}

footer .attribution {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
}



/* TODO: figure out if below rules are still needed */
.current {
  font-weight: bold;
}

/* home page */
.pretty-button {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 4px;
  padding: 8px 44px;
  border: 2px solid #000;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

.pretty-button:active {
  background-color: #333;
  color: #FFF;
}

.pretty-button:hover {
  text-decoration: none !important;
  background-color: #333;
  color: #FFF;
}

section {
  padding: 60px 24px;
}

.hero {
  background-color: transparent;
  background-size: cover;
}

.hero p {
  font-size: 20px;
  max-width: 600px;
  line-height: 1.5;
  margin: 24px auto 32px;
}

.devices {
  display: block;
  height: 460px;
  background-image: url(https://user-images.githubusercontent.com/1369170/39715580-a1be5126-51e2-11e8-8440-96b07be03a3c.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.hero-buttons {
  padding-top: 16px;
}

.features {
  display: flex;
  justify-content: center;
  background-color: #ECEFEF;
  color: black;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 0 16px;
  box-sizing: border-box;
}

.feature > .icon {
  width: 76px;
  height: 76px;
}

.feature > p {
  /* IE11 flexbox bug: https://github.com/philipwalton/flexbugs#2-column-flex-items-set-to-align-itemscenter-overflow-their-container */
  max-width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
}

.main-item {
  display: flex;
  max-width: 700px;
  padding: 16px 0;
  text-align: left;
}

.main-item > img {
  width: auto;
  height: 100px;
  padding-right: 32px;
}

.main-item h2 {
  margin-top: 0;
}

.compatibility {
  background-color: #F2F2F2;
}

.browsers > img {
  width: 70px;
  height: 70px;
  padding: 20px;
}

/* table of contents. align the first set of bullets with the title. */
#table-of-contents + ul {
  list-style-type: none;
  padding: 0;
}
code, pre {
  font-family: 'Source Code Pro', 'Roboto Mono', Consolas, Menlo, monospace !important;
}

code {
  background: #F4F4F6;
  color: black;
  font-size: inherit;
  padding: 2px 4px;
}

pre code {
  word-break: break-all;
  padding: 0;
  white-space: pre;
}
pre {
  white-space: pre;
  word-wrap: normal;
  font-size: 14px;
  padding: 24px;
  background: #F4F4F6;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
}

thead {
  text-align: left;
  background-color: #F9F8FB;
  font-weight: 600;
}

tr {
  border-bottom: 1px solid #dadce0;
}

th, td {
  padding: 15px 20px;
}

/* small screen */
@media (max-width: 767px) {
  /* home page */
  section {
    padding: 24px;
  }

  .devices {
    height: 200px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-buttons > * {
    width: 240px;
    margin: 8px 0;
  }

  .features {
    display: block;
  }

  .feature {
    display: block;
    width: auto;
    padding: 16px 0;
  }

  .feature > .icon {
    width: 48px;
    height: 48px;
  }

  .feature > p {
    margin: 4px 0;
  }

  .main {
    display: block;
  }

  .main-item {
    display: block;
    padding: 16px 0;
    text-align: center;
  }

  .main-item > img {
    width: 48px;
    height: auto;
    padding: 0 0 4px 0;
  }

  .main-item h2 {
    margin: 0 0 10px;
  }

  .main-item p {
    margin: 4px 0;
  }

  .browsers > img {
    width: 40px;
    height: 40px;
    padding: 4px;
  }
}

@media screen and (min-width: 1400px) {
  footer .wrapper,
  main {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 1400px) {
  footer .wrapper,
  main {
    padding: 0 60px;
  }
}
@media screen and (max-width: 1160px) {
  #secondary-nav {
    display: none;
  }
  .toc {
    padding: 32px 0;
  }
  footer .wrapper,
  main {
    padding: 0 32px;
  }
  footer .group {
    margin-right: 24px;
  }
  .main-nav {
    padding-left: 32px;
  }
  article {
    margin: 32px 0 32px 24px;
  }
  .row {
    display: block;
  }
  .row .gap {
    display: none;
  }
  .block {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 640px) {
  .main-nav {
    height: 56px;
    padding-left: 20px;
  }
  main {
    display: block;
  }
  /* doc page */
  .toc {
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    padding: 0;
    width: auto;
    height: auto;
    background: #FFF;
    border-bottom: 1px solid rgba(0,0,0,.2);
  }

  .toc > ul {
    display: none;
  }

  .toc.open > ul {
    display: block;
    padding: 0 20px;
  }

  .toc > #toggleNavButton {
    display: block;
    width: 100%;
    height: 56px;
    padding: 0 20px;
    text-align: left;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: inherit;
    -webkit-appearance: none;
  }

  .toc > #toggleNavButton::before {
    content: '\25b6  ';
  }

  .toc.open > #toggleNavButton::before {
    content: '\25bc  ';
  }
  #right-nav {
    position: fixed;
    margin-top: 0;
    top: 56px;
    left: 0;
    right: 0;
    height: 56px;
    width: auto;
    border-bottom: 1px solid #CCC;
    display: flex;
    align-items: center;
  }
  #right-nav .placeholder,
  #right-nav .subnav {
    display: none;
  }
  article {
    margin: 0;
    padding: 20px 0;
  }
  main {
    margin-top: 112px;
  }
  footer .wrapper,
  main {
    padding: 0 20px;
  }
  footer .group {
    width: 50%;
    margin-right: 0;
  }
  #right-nav {
    margin: 0;
  }
  .block {
    margin-bottom: 16px;
  }
}
